<header class="message-header flexrow">
	<h2 class="message-sender">{{question}}</h2>
	<span class="message-metadata">
		<time class="message-timestamp">{{timeSince message.timestamp}}</time>
		{{#if canDelete}}
		<a class="message-delete"><i class="fas fa-trash"></i></a>
		{{/if}}
	</span>

	{{#if isWhisper}}
	<span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
	{{/if}} {{#if message.flavor}}
	<span class="flavor-text">{{{message.flavor}}}</span>
	{{/if}}
</header>
<div class="message-content answers">
	{{#if results}} {{#each parts}}
	<div class="answer">
		<div class="bar-container">
			<div class="bar" style="width: {{this.percent}}%;"></div>
			<div class="answer-data">
				<span class="label">{{this.label}}</span>
				{{#if (or (eq ../voteType "normal") ../isGM ) }}
				<div class="player-list flexrow">
					{{#each this.voters}}
					<span style="background: {{color}};" title="{{name}}{{#if charname}} ({{charname}}){{/if}}"></span>
					{{/each}}
				</div>
				{{/if}}
				<span class="count">{{this.count}}</span>
			</div>
		</div>
	</div>
	{{/each}} {{else}} {{#each parts}}
	<label class="results">
		{{#if (eq ../voteNumber "multiple")}}
		<input type="checkbox" data-answer="{{this.label}}" data-poll="{{../poll}}" {{checked checked}} />
		{{else}}
		<input
			type="radio"
			name="vote.{{../poll}}"
			data-answer="{{this.label}}"
			data-poll="{{../poll}}"
			{{checked
			checked}}
		/>
		{{/if}}
		<span class="label">{{this.label}}</span>
	</label>
	{{/each}} {{/if}}
</div>
{{#if (and isGM (eq resultType "gm"))}}
<button class="showResults" data-poll="{{poll}}">{{localize "EasyPolls.ShowResults"}}</button>
{{/if}} {{#if (or isGM (eq resultType "open"))}}
<button class="toggle" data-poll="{{poll}}">{{localize "EasyPolls.ToggleResults"}}</button>
{{/if}}
<div class="stats flexrow">
	<span>{{localize "EasyPolls.CountAnswered"}}: <i class="count-answered">{{total}}</i></span>
</div>
