<h2>{{question}}</h2>
<div class="answers" data-type="{{type}}">
	{{#if results}} {{#each parts}}
	<div class="answer">
		<div class="bar-container">
			<div class="bar" style="width: {{this.percent}}%;"></div>
			<div class="answer-data">
				<span class="label">{{this.label}}</span>
				{{#if (or (eq ../voteType "normal") ../isGM ) }}
				<div class="player-list flexrow">
					{{#each this.voters}}
					<span style="background: {{color}};" title="{{name}}{{#if charname}} ({{charname}}){{/if}}"></span>
					{{/each}}
				</div>
				{{/if}}
				<span class="count">{{this.count}}</span>
			</div>
		</div>
	</div>
	{{/each}} {{else}} {{#each parts}}
	<label class="results">
		{{#if (eq ../voteNumber "multiple")}}
		<input type="checkbox" data-answer="{{this.label}}" data-poll="{{../poll}}" {{checked checked}} />
		{{else}}
		<input
			type="radio"
			name="vote.{{../poll}}"
			data-answer="{{this.label}}"
			data-poll="{{../poll}}"
			{{checked
			checked}}
		/>
		{{/if}} {{this.label}}
	</label>
	{{/each}} {{/if}}
</div>
{{#if (and isGM (eq resultType "gm"))}}
<button class="showResults" data-poll="{{poll}}">{{localize "EasyPolls.ShowResults"}}</button>
{{/if}} {{#unless (or isGM (eq resultType "gm"))}}
<button class="toggle" data-poll="{{poll}}">{{localize "EasyPolls.ToggleResults"}}</button>
{{/unless}}
<div class="stats">
	<span>{{localize "EasyPolls.CountAnswered"}}: <i class="count-answered">{{total}}</i></span>
</div>
