@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
#chat-log .easy-poll label {
	display: flex;
	place-items: center;
}
#chat-log .easy-poll .answer span.label {
	margin-left: 23px;
}
#chat-log .easy-poll .answers {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5px;
}
#chat-log .easy-poll .answers .answer {
	position: relative;
	width: 100%;
	height: 19px;
}
#chat-log .easy-poll .results input[type="radio"] {
	top: 0;
}
#chat-log .easy-poll .results input[type="radio"],
#chat-log .easy-poll .results input[type="checkbox"] {
	margin: 3px 5px;
}
#chat-log .easy-poll .answers .answer .answer-data {
	top: 0;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#chat-log .easy-poll .answers .answer .answer-data span.label {
	height: 19px;
}
#chat-log .easy-poll .answers .answer .answer-data *,
#chat-log .easy-poll .results span.label {
	mix-blend-mode: difference;
	color: #fff;
}
#chat-log .easy-poll .answers .answer .answer-data .label {
	flex: 1;
}
#chat-log .easy-poll .answers .answer .answer-data .player-list,
#chat-log .easy-poll .answers .answer .answer-data .player-list * {
	mix-blend-mode: normal;
}
#chat-log .easy-poll .answers .answer .answer-data .player-list span {
	width: 14px;
	height: 14px;
	border: 1px solid;
	border-radius: 50%;
	margin-top: 2px;
	margin-right: 2px;
}
#chat-log .easy-poll .answers .answer .bar-container {
	width: 100%;
	height: 100%;
	position: relative;
}
#chat-log .easy-poll .answers .answer .bar-container .bar {
	background: #222;
	height: 100%;
	overflow: visible;
}
#chat-log .easy-poll .stats {
	margin-top: 8px;
	padding-top: 2px;
	font-size: 11px;
	font-style: italic;
	border-top: 1px dashed #00000066;
}

.dialog.easy-poll {
	min-height: 300px;
	min-width: 300px;
}

.message.easy-poll .message-header {
	border-bottom: 1px solid var(--color-underline-header);
}

.message.easy-poll .message-header h2 {
	border-bottom: none;
}
