@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
#chat-log .easy-poll h2,
#chat-log .easy-poll div,
#chat-log .easy-poll span,
#chat-log .easy-poll label,
#chat-log .easy-poll button,
#chat-log .easy-poll .count-answered {
	font-family: "Open Sans", Signika, sans-serif;
	font-weight: 100;
}
#chat-log .easy-poll label {
	display: flex;
	place-items: center;
}
#chat-log .easy-poll .answer span.label {
	margin-left: 30px;
}
#chat-log .easy-poll .answers {
	width: 100%;
	margin: 0 auto;
}
#chat-log .easy-poll .answers .answer {
	position: relative;
	width: 100%;
	/* margin: 2px 0; */
}
#chat-log .easy-poll .results input[type="radio"] {
	top: 0;
}
#chat-log .easy-poll .results input[type="radio"],
#chat-log .easy-poll .results input[type="checkbox"] {
	flex: 0 0 20px;
	width: 20px;
	height: 18px;
	margin: 3px 5px;
}
#chat-log .easy-poll .answers .answer .answer-data {
	top: 0;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 22px;
}
#chat-log .easy-poll .answers .answer .answer-data span.label {
	height: 19px;
}
#chat-log .easy-poll .answers .answer .answer-data *,
#chat-log .easy-poll .results span.label {
	mix-blend-mode: difference;
	color: #fff;
}
#chat-log .easy-poll .answers .answer .answer-data .label {
	flex: 1;
}
#chat-log .easy-poll .answers .answer .answer-data .player-list,
#chat-log .easy-poll .answers .answer .answer-data .player-list * {
	mix-blend-mode: normal;
}
#chat-log .easy-poll .answers .answer .answer-data .player-list span {
	width: 14px;
	height: 14px;
	border: 1px solid;
	border-radius: 50%;
	box-shadow: 0 0 5px var(--color-shadow-dark);
	margin-right: 2px;
}
#chat-log .easy-poll .answers .answer .bar-container {
	width: 100%;
	position: relative;
}
#chat-log .easy-poll .answers .answer .bar-container .bar {
	background: #222;
	height: 24px;
	overflow: visible;
}
#chat-log .easy-poll .stats {
	margin-top: 8px;
	padding-top: 2px;
	font-size: 11px;
	font-style: italic;
	border-top: 1px dashed #00000066;
}

.dialog.easy-poll {
	min-height: 300px;
	min-width: 300px;
}
